<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI 성대모사</title>
    <script src="static/js/jquery-3.4.1.slim.min.js"></script>
    <script>
        function auto_synth(this_obj){
            $("#input_text").val($(this_obj).next().text());
            $("#synth_button").click();
        }
    </script>
</head>
<body>
<a href="upload">업로드 페이지로 돌아가기</a>
<h2>원본 음성</h2>
<audio controls>
    <source src="static/tmp/{{target_filename}}" type="audio/wav">
    Your browser does not support the audio tag.
</audio>
<br/>
<h2>결과</h2>
{% for i in range(0, len) %}
<p>소요시간: {{elapsed_list[i]}} seconds </p>
<p>Script: {{text_list[i]}} </p>
<audio controls>
    <source src="static/result/{{file_list[i]}}" type="audio/wav">
    Your browser does not support the audio tag.
</audio>
<br/>
<a href="download/{{file_list[i]}}" target="_blank">wav 파일 다운로드</a>
<a href="download_mp3/{{file_list[i]}}" target="_blank">mp3 파일 다운로드</a>
{% endfor %}
</body>
</html>